html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

.tools, .editor {
  height: 100%;
}

#editor-inner {
  height: 100%;

  width: 600px;

  margin-right: 5px;
}

.message-panel {
  height: 20%;
  background: #333;

  color: skyblue;

  margin: 0;
  padding: 5px;
}

.app {
  display: inline-block;
}
